.poke-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  color: #f44336;
  background-color: antiquewhite;
}

.poke-list {
  display: flex;
  margin: 2rem;
}

.pagination-buttons {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #f44336;
  margin-left: 10px;
}
